body{
    box-sizing: border-box;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

#nav-header {
    background-color: gray;
    padding: 10px;
    text-align: center;
    border-bottom: solid white;
}
#nav-header h1 {
    color: blanchedalmond;
    font-size: 30px;
}

#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

#nav li {
     list-style: none;
}

#nav ul li a {
    color: blanchedalmond;
    text-decoration: none;
}

#nav ul li a:hover{
    color:white;
}

main{ 
    padding: 20px;
}

.para1:hover{
    line-height:2;
    text-align:center;
}

#header> h2, #about > h2, 
#services > h2,
 #related  {
    color:gray;
}

.related li a:hover{
     color: black;
}

footer  {
    background-color:gray;
    text-align: center;
    border-top: solid white;
}

footer #contact{
    color: blanchedalmond;
}